
.language-buttons .btn {
  margin-right: 8px;
  margin-bottom: 8px;
  width:110px;
height:30px;
}

.language-buttons .btn:last-child {
  margin-right: 0;
}

html[dir="rtl"] .language-buttons .btn {
  margin-right: 0;
  margin-left: 8px;
}

html[dir="rtl"] .language-buttons .btn:last-child {
  margin-left: 0;
}

.language-buttons .btn[data-lang="en"] {
  background-color: #1d4f91;
  border-color: #1d4f91;
}

.language-buttons .btn[data-lang="ar"] {
  background-color: #006233;
  border-color: #006233;
}

.language-buttons .btn[data-lang="fr"] {
  background-color: #002654;
  border-color: #002654;
}

.language-buttons .btn[data-lang="es"] {
  background-color: #aa151b;
  border-color: #aa151b;
}

.language-buttons .btn:hover {
  opacity: 0.9;
  transform: translateY(-2px);
  transition: all 0.3s ease;
}

